.makeStyles-card-805 {
  bottom: 0;
  top: 0;
}

button.MuiButton-root {
  min-width: 0 !important;
}

.MuiSelect-selectMenu {
  min-height: 1em !important;
}

.MuiInputBase-input {
  height: 1em !important;
  border-radius: 20px;
}

.MuiInputBase-input::placeholder {
  font-size: smaller;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}